# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environments
env/
*.env

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore log files
logs/
*.log

# Ignore other unnecessary files
*.md
*.txt
.DS_Store
.idea/
.vscode/
*.swp

# Ignore git-related files and directories
.git/
.gitignore

# Ignore compiled files
*.so
*.o
*.a
*.out
*.exe

# Ignore test directories
tests/