# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environments
venv/
.env

# Ignore logs
logs/

# Ignore other unnecessary files
.DS_Store

# Ignore tests for now
test.txt
# tests/

# K8s folder
# k8s/